.landing {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    /* padding: 100px; */
    display: flex;
    flex-direction: column;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba( 0, 0, 0, 0.7);;
    /* align-items: center;  */
    justify-content: space-between;
}


.landing video {
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

.p-land {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 53%;
    left: 40%;
}

.type {
    color: white;
    position: absolute;
    top: 40%;
    left: 20%;
    font-size: 40px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cities-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: absolute;
    top: 75%;
    
    
}

li {
    list-style-type: none;
}
 
