.separator {
    background-image: linear-gradient( rgba(8, 8, 8, 0.5), rgba(8, 8, 8, 0.596) ), url(../images/adam-winger-M4R8iaqPVp8-unsplash.jpg);
    padding: 100px;
    padding-left: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
   align-items: center;
}

.div-delete {
    width: 750px;
    position: relative;
}

.delete-icon {
    position: absolute;
    left: 90%;
    top:70%;
    z-index: 5;
    font-size: 30px;
}