.search-result {
    display: flex;
    margin-bottom: 40px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    max-width: 850px;
    min-width: 850px;
}

.favourites-image {
    width: 180px;
    height: 150px;
    border-radius: 4px;
    margin-right: 1rem;
  }

.name-favorite {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 45%;
    font-weight: bold;
}
.favourite-results {
    display: flex;
    position: relative;
    margin: 15px;
    background-color: white;
    padding: 10px;
    width: 750px;
    height: 180px;
    

}